header{
	background:#2c3e50;
	color:#fff;
}

aside{
	background:#c0392b;
	color:#fff;
}

.fontStyle{
	margin-left:15%;
	margin-top:5%;
	color: black;
	text-align: center;
}
.claro{
	background: #F7F8E0;
	color:#fff;
}

.logo{
	height:60px;
	width:50px;
	margin:1.5%;
	float:left;
}

.h1header{
	margin-left:5%;
}

.buttons-menu{
	float:right;
	margin-left: 25%;
	margin-top:-4%;
}

.bloque-principal{
	margin-bottom: auto;
 	padding-bottom: 100%;
}

.imagenes{
	height:53%;
	width:53%;
	margin-top:5%;
	margin-left:35%;
}
